#myCard {
    height: 320px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: rgb(231, 233, 235);
}

.image {
    width: 200px;
    height: 160px;
}

#title {
    color: black;
    font-size: x-small;
    text-align: center;
}

.price {
    color: rgb(95, 41, 24);
    text-align: center;
}

.button {
    margin-left: 50px;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #888888;
    border: none;
}
.button:hover {
    background-color: rgb(207, 176, 176);
}

.buttons {
    text-align: center;
}

.buttons button {
    margin: 5px;
    border-radius: 15px;
}

.rightSidePic {
    width: 100%;
    height: 100%;
}

.carryCar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.leftPara {
    text-align: center;
    color: rgb(112, 144, 194);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#leftTit {
    color: rgb(221, 84, 79);
}

#leftTitB {
    color: rgb(40, 73, 137);
}

.productsName {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(201, 218, 242);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}